body {
  background-color: #141D2F;
}
h1,h2,p{
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 80%;
}

input {
  width: 100%;
}