@font-face {
  font-family: SpaceMonoRegular;
  src: url('./Fonts/SpaceMono-Regular.ttf');
}

body {
  background-color: #141D2F;
}

h1,h2,p,a{
  color: white;
  font-family: SpaceMonoRegular;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 80%;
}

input {
  width: 100%;
}